<?php

use NonEfTech\BookCrossing;

/**
 * @var array $errMessage ;
 */

?>
<h1>Аутентификация</h1>

<div>
    {{ form(form_login) }}
</div>
{% if errMessage is defined %}
{{ errMessage }}
{% endif %}
